[build]
  publish = "build"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "16"

[[redirects]]
  from = "/sw.js"
  to = "/sw.js"
  status = 200
  headers = {Cache-Control = "public, max-age=0, must-revalidate"}

[[redirects]]
  from = "/manifest.json"
  to = "/manifest.json"
  status = 200
  headers = {Cache-Control = "public, max-age=0, must-revalidate"}

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[dev]
  command = "npm start"
  port = 3000
  publish = "build"
