services:
  - type: web
    name: boingbox-backend
    env: node
    plan: free
    buildCommand: npm install
    startCommand: npm start
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGODB_URI
        value: mongodb+srv://mamidipaka2003_db_user:UQyC0QwKxtizlRhU@cluster0.ip6x0fa.mongodb.net/boingbox?retryWrites=true&w=majority&appName=Cluster0
      - key: SECRET
        value: HARSHA
      - key: CLIENT_URL
        sync: false
    healthCheckPath: /health
    autoDeploy: true
